#container{

  #header{
 grid-area: header;
display: flex;
background: rgba(255, 255, 255,0.9);
    &__logo{
width: 15%;

    &--img{
    img{
      margin-left: 25%;
    }
    }
    }
    &__menutop{

    margin-top:3%;
    &--social{

      a{
        i{
            font-size : 30px;
            margin-right: 10px;
            color:rgb(53, 49, 57);

          .fab{
            height : 30px;

          }
        }
      }
    }
    &--menu{
margin-left: 110%;
      grid-area: menu;

  &--detail{
    font-size: 25px;

a{
  color:rgb(53, 49, 57);
white-space: nowrap;
margin-left: 20px;
text-decoration: none;

}}
#shoppingheader{
  margin-top:20px;
  margin-left: 22px;
  display: flex;
  font-size: 20px;
  color:black;

  #contact{

  #notification{
font-size: 20px;
      span{
      color:rgb(242, 88, 30);
      margin-top: -5px;
      font-weight: bold;
       position: relative;
       top:-8px;
       right:7px;
       z-index: 1;
    }
  }
  }
  a{
    text-decoration: none;
      color:rgb(53, 49, 57);
  }
}
    }}
  }


}
#header__menutop--menu a:hover{
  color:rgb(208, 117, 72);
  background: rgb(208, 117, 72);

}
